<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Home</title>
    <!-- <script>
      const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script> -->
  <!-- <script src="/socket.io/socket.io.js" ></script> -->
  
    
   <style>
    #video-grid{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }
    video{
       height: 300px;
       width: 400px;
       object-fit: cover;
       padding: 8px;
    }
 </style>
    
<body>
    <div id="video-grid">

    </div>
    <script>
      const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="script.js" ></script>

</body>
</html>

